body{
	background: url('../images/corrugation.png') repeat;
	font-family: 'Cormorant Garamond', serif;
	font-size:20px;	
}
h1{
	text-align:center;
	letter-spacing: 0.5em;
}
nav ul{
	clear:both;
}
nav li{
	float: left;
	margin-right:2%;
	list-style-image: url(../images/checkmark.png);
	list-style-position: inside;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

nav a{
	color:#52b3d9;
	text-decoration:none;
}
nav a:visited{
	color:#674172;
}
nav a:hover{
	color:#26a65b;
}
p:nth-child(even){
	font-style:italic;
}
p{
	padding:0.5em;
}
table{
	border-collapse: collapse;
	margin:0 auto;
	width:1200px;	
}
td{
	border: 1px solid #013243;
}
.upper{
	text-transform:uppercase;
}
.center{
	text-align:center;
}
