.ts-page {
	font-family: 'SourceSansPro-Regular', sans-serif;
	color: #161616;	
}

.ts-page__inner {
	max-width: 3000px;
	min-width: 200px;
	margin: 0 auto;
}

.ts-page__header {
	height: 100vh;
}

.ts-header {
	height: 100%;
}

.ts-header__photo_welcome {
	height: 100%;

}

.ts-header__welcome-text {
	min-height: 820px;
	margin: 0 60px;
	display: flex;
	align-items: center;
}

.ts-welcome-text__subtitle {
	margin: 30px 0;
}

.ts-welcome-text__caption {
	margin-bottom: 35px;
}

.ts-welcome-text__button {
	max-width: 200px;
	height:50px;
	border: 3px solid black;
	border-radius: 200px;	
	margin: 60px 0 30px;
}

.ts-skills__about-me-text {
	margin: 51px 60px;
}

.ts-about-me-text__caption {
	margin-bottom: 25px;
}

.ts-about-me-text__subtitle {
	margin-bottom: 45px;
}

.ts-about-me-text__text-box {
	margin-bottom: 25px;
}

.ts-skills__progress {
	margin: 51px 20px;
}

.ts-progress__caption {
	margin-bottom: 20px;
}

.ts-progress__progress-bar {
	margin-top: 40px;
}

.ts-spheres__icon-item {
	margin: 51px 60px;
}

.ts-icon-item {
	height: 100%;
	text-align: center;	
}

.ts-icon-item__icon {
	margin-bottom: 30px;	
}

.ts-icon-item__caption {
	margin-bottom: 20px;
}

.ts-icon-item__text-box {
	margin-bottom: ;
}

.ts-experience__resume {
	margin: 51px 60px;
}

.ts-resume__subtitle {
	margin-top: 20px;
}

.ts-education__resume {
	margin: 51px 60px;
}

.ts-resume__subtitle-resume {
	margin-top: 20px;
}

.ts-resume-item__inner {
	display: flex;
}

.ts-resume-details__resume-item {
	margin-top: 40px;
}

.ts-resume-item__icon {
	margin-right: 24px;
}

.ts-job__job-name {
	font-family: 'SourceSansPro-Light';
	font-size: 30px;
	color: #fff;
}

.ts-job__job-date {
	font-family: 'SourceSansPro-Black';
	font-size: 15px;
	color: #5e3738;
}

.ts-job__education-date {
	font-family: 'SourceSansPro-Black';
	font-size: 15px;
	color: #8c6314;	
}

.ts-subtitle-resume__layout {
	margin-top: 24px;
}

.ts-testimonial__color-overlay {
    min-height: 350px;
	background: rgba(0,0,0,0.4);
}

.ts-testimonial__icon-item {
	max-width: 800px;
	margin: 0  auto;
	padding: 51px 10px;		
}

.ts-testimonial__content {
	height: 100%;
}

.ts-contact-form__subtitle {
	margin: 20px 0;	
} 

.ts-input__layuot-contact {
	margin:10px 0;	
} 

.ts-contact-form__button {
	max-width: 300px;
	height: 40px;
	margin-top: 20px;
} 

.ts-visit-card__office {
	margin-bottom: 55px;
}

.ts-contact__contact-form {
	margin: 51px 60px;
}

.ts-contact__visit-card {
	margin: 51px 60px;
}

.ts-office__contact {
	margin-bottom: 58px;	
}

.ts-caption__contact {
	margin-bottom: 32px;	
}

.ts-address {
	font-family: 'SourceSansPro-Regular';
	font-size: 10px;
	color: #666469;
}

.ts-connect__row {
	display: flex;
	margin-bottom: 26px;
}

.ts-contact__link{
	margin-left: 15px;
	font-family: 'SourceSansPro-Regular';
	font-size: 10px;
}

.ts-contact__link_light {
	color: #fff;	
}

.ts-contact__link_yellow {
	color: #cbb583;	
}

.ts-connect__caption {
	margin-bottom: 32px;	
}