.ts-caption {
	font-family: 'SourceSansPro-Light';
	font-size: 40px;
}

.ts-caption_medium {
	font-family: 'SourceSansPro-Light';
	font-size: 23px;
}

.ts-caption__layout {
	margin: 40px 0 30px;
}

.ts-caption_dark {
	color: #161616;
}

.ts-caption_light {
	color: #fff;
}

.ts-subtitle {
	font-family: 'SourceSansPro-Regular';
	font-size: 10px;
}

.ts-subtitle_dark {
	color: #a2a39e;
}

.ts-subtitle_light {
	color: #fff;
}

.ts-subtitle_dark-beige {
	color: #ceb2a6;
}

.ts-subtitle_uppercase {
	text-transform:uppercase;
}

.ts-text_uppercase {/*!!*/
	text-transform:uppercase;
}

.ts-text_capitalize {/*!!*/
	text-transform:capitalize;
}

.ts-text-container{
	line-height:2em;
	font-family: 'SourceSansPro-Regular';
	font-size: 14px;
}

.ts-text__layout {
	margin:30px 0;
}

.ts-text-container_dark {
	color: #a2a39e;
}

.ts-text_light {
	color: #ffe9d7;
}

.ts-text-container_beige {
	color: #f5cba1;	
}

.ts-button {
	border-radius:22px;
	font-family: 'SourceSansPro-Black';	
	font-size: 15px;	
}

.ts-button_start {
	width: 200px;
	height:50px;
	border: 3px solid black;
	border-radius: 25px;
	text-transform: uppercase;	
}

.ts-button_send {
	background-color:#fff;
}

.ts-skills__layout {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	min-height: 290px;	
}

.ts-caption__skills {
	margin-bottom: 30px;	
}

.ts-skills-text__layout{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin:62px 20px 0 51px;
}

.ts-progress-bar__layout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 20px 0;
}

.ts-skills-visual__layout {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	max-width: 500px;
	height: 100%;
	margin: 0 51px;
}

.ts-sphere__layout {
	display: flex;
	flex-wrap: wrap;	
	align-items: stretch;
	min-height: 336px;
	height: 100%;
}

.ts-tile-sphere__layout {
	max-width: 500px;
	margin: 51px 62px;
	text-align: center;
}

.ts-sphere-title__layout {
	margin: 15px 0;	
}

.ts-sphere-title {
	font-family: 'SourceSansPro-Regular';
	font-size: 23px;
	text-transform: capitalize;
}

.ts-study-period {
	width:80%;/*.....*/
}

.ts-resume-item__layout {
	margin-top: 41px;
}

.ts-subtitle-resume {
	font-family: 'SourceSansPro-Regular';
	font-size:15px;
	color: #fff;
}


.ts-icon__layout {
	margin-right: 24px;
}

.ts-job__layout {
	margin-bottom: 24px;
}

.ts-job-name {
	font-family: 'SourceSansPro-Light';
	font-size: 30px;
	color: #fff;	
}

.ts-job-date {
	font-family: 'SourceSansPro-Black';
	font-size: 15px;
	color: #5e3738;	
}

.ts-education-date {
	font-family: 'SourceSansPro-Black';
	font-size: 15px;
	color: #8c6314;	
}

.ts-img__overlay {

}
/*.........*/
.ts-testimonial__layout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
	min-height: 480px;
	width: 100%;
	background: rgba(0,0,0,0.4);
}

.ts-caption-testimonial__layout {
	margin: 30px 100px 20px;
	text-align: center;
}

.ts-tile-contact__layout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 61px 0 0 52px;
}

.ts-subtitle-contact__layout {
	margin-top: 20px;
}

.ts-input__layuot-contact {
	margin:10px 0;	
} 

.ts-button__layuot-contact {
	width:300px;
	height:40px;
} 

.ts-input {
	border: none;
	border-bottom: 1px solid #e4ae58;
	background-color:transparent;
	font-family: 'SourceSansPro-Light';
	font-size: 20px;
	color: #fff;	
}

.ts-office__contact {
	margin-bottom: 58px;	
}

.ts-caption__contact {
	margin-bottom: 32px;	
}

.ts-address {
	font-family: 'SourceSansPro-Regular';
	font-size: 10px;
	color: #666469;
}

.ts-connect__row {
	display: flex;
	margin-bottom: 26px;
}

.ts-contact__link{
	margin-left: 15px;
	font-family: 'SourceSansPro-Regular';
	font-size: 10px;
}

.ts-contact__link_light {
	color: #fff;	
}

.ts-contact__link_yellow {
	color: #cbb583;	
}


.ts-resume__layout {
	display: flex;
	align-items: stretch;	
	min-height: 387px;
}

.ts-education__layout {
	display: flex;
	align-items: stretch;	
	min-height: 445px;
}

.ts-contact__layout {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;	
	min-height: 615px;
}
