.ts-welcome-text__layout {
	max-width: 900px;
	margin: 253px 52px 0; /*????*/
}

.ts-caption {
	font-family: 'SourceSansPro-Light';
	font-size: 40px;
}

.ts-caption__layout {
	margin: 40px 0 30px;
}

.ts-caption_dark {
	color: #161616;
}

.ts-caption_light {
	color: #fff;
}

.ts-subtitle {
	font-family: 'SourceSansPro-Regular';
	font-size: 10px;
}

.ts-subtitle_dark {
	color: #a2a39e;
}

.ts-subtitle_light {
	color: #fff;
}

.ts-subtitle_dark-beige {
	color: #ceb2a6;
}

.ts-subtitle_uppercase {
	text-transform:uppercase;
}

.ts-text_uppercase {/*!!*/
	text-transform:uppercase;
}

.ts-text_capitalize {/*!!*/
	text-transform:capitalize;
}

.ts-text-container{
	line-height:2em;
	font-family: 'SourceSansPro-Regular';
	font-size: 14px;
}

.ts-text__layout {
	margin:30px 0;
}

.ts-text-container_dark {
	color: #a2a39e;
}

.ts-text-container_light {
	color: #ffe9d7;
}

.ts-button {
	border-radius:22px;
	font-family: 'SourceSansPro-Black';	
	font-size: 15px;	
}

.ts-button_start {
	width: 200px;
	height:50px;
	border: 3px solid black;
	border-radius: 25px;
	text-transform: uppercase;	
}

.ts-button_send {
	background-color:#fff;
}

.ts-skills-text__layout{
	margin: 51px 62px;
}

.ts-skills-visual__layout {
	margin: 51px 20px;
}

.ts-tile-sphere__layout {
	margin: 51px 20px;
	text-align: center;
}

.ts-sphere__item {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;	
}

.ts-sphere__item_light {
	color: #ffe9d7;		
}

.ts-sphere-title__layout {
	margin: 15px 0;	
}

.ts-sphere-title {
	font-family: 'SourceSansPro-Regular';
	font-size: 23px;
	text-transform: capitalize;
}

.ts-icon_big {
	font-size: 30px;
}

.ts-study-period {
	width:80%;/*.....*/
}

.ts-resume-item__layout {
	margin-top: 41px;
}

.ts-subtitle-resume {
	font-family: 'SourceSansPro-Regular';
	font-size:15px;
	color: #fff;
}

.ts-icon__resume {
	font-size:40px;
	color: #fff;
}

.ts-icon__layout {
	margin-right: 24px;
}

.ts-job__layout {
	margin-bottom: 24px;
}

.ts-job-name {
	font-family: 'SourceSansPro-Light';
	font-size: 30px;
	color: #fff;	
}

.ts-job-date {
	font-family: 'SourceSansPro-Black';
	font-size: 15px;
	color: #5e3738;	
}

.ts-education-date {
	font-family: 'SourceSansPro-Black';
	font-size: 15px;
	color: #8c6314;	
}

.ts-img-overlay {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
}
/*.........*/
.ts-icon-testimonial__layout {
	margin-top:80px;
}

.ts-caption-testimonial__layout {
	margin:30px 100px 20px;
	text-align:center;
}

.ts-tile-contact__layout {
	margin:61px 20px 20px 52px;
}

.ts-subtitle-contact__layout {
	margin-top: 20px;
}

.ts-input__layuot-contact {
	margin:10px 0;	
} 

.ts-button__layuot-contact {
	width:300px;
	height:40px;
} 

.ts-input {
	border: none;
	border-bottom: 1px solid #e4ae58;
	background-color:transparent;
	font-family: 'SourceSansPro-Light';
	font-size: 20px;
	color: #fff;	
}

