.ts-grid__row {
	display: flex;		
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: stretch;
	width: 100%;
}

.ts-grid__column {
	display: flex;		
	flex-direction: column;
	justify-content: center;
}

.ts-grid__column_small {
	width: 25%;	
}

.ts-grid__column_medium {
	width: 50%;
}

.ts-grid_beige {	
	background-color: #f0e2d7;
}

.ts-grid_mustard {	
	background-color: #e4ae58;
}

.ts-grid_salmon {
	background-color: #e9714c;
}

.ts-grid_dark {	
	background-color: #161616;
}

.ts-grid_light {	
	background-color: #fff;
}
