@media screen and (min-width: 1000px) {
.ts-nav-burger {
    display: none;
}}

@media screen and (max-width: 1000px) {
.ts-menu {
    display: none;
}

.ts-grid__column_small {
    width: 50%;
}

.ts-grid__column_medium {
    width: 100%;
}}

@media screen and (max-width: 750px) {
.ts-grid__column_small {
    width: 100%;
}

.ts-caption {
	font-size: 25px;
}

.ts-job__job-name {
    font-size: 20px;
}}
