/*@media screen and (min-width: 1170px) {
.ts-nav-burger {
    display: none;
}}

@media screen and (max-width: 1170px) {
.ts-menu {
    display: none;
}

.ts-tile_small {
    width: 50%;
}

.ts-tile_medium {
    width: 100%;
}}

@media screen and (max-width: 750px) {
.ts-tile_small {
    width: 100%;
}}*/

@media screen and (min-width: 1170px) {
.ts-nav-burger {
    display: none;
}}

@media screen and (max-width: 1170px) {
.ts-menu {
    display: none;
}

.ts-grid__column_small {
    width: 50%;
}

.ts-grid__column_medium {
    width: 100%;
}

.ts-photo {
	/*min-height: 820px;
	height: 100%;*/
	height: 50vw;
}

.ts-photo_welcome {
	
	height: 100%;
	/*height: auto;*/
}

.ts-grid__row_half-full-height {
	/*min-height: 820px;
	height: 100%;*/
	height: auto;
}}

@media screen and (max-width: 750px) {
.ts-grid__column_small {
    width: 100%;
}

.ts-photo {
	/*min-height: 820px;
	height: 100%;*/
	height: 50vh;
}

.ts-grid__row_full-height {
	/*min-height: 820px;
	height: 100%;*/
	height: auto;
}

.ts-grid__row_half-full-height {
	/*min-height: 820px;
	height: 100%;*/
	height: auto;
}}

@media screen and (max-width: 150px) {
.ts-spheres__sphere-item {
	height: auto;
}}

